<a href="ventaServicios"> <button style="border-radius: 40px; margin-left: 20%" type="button" class="btn btn-primary"><i
            class="fa-solid fa-backward"></i>Atrás</button></a>
<div class="d-flex justify-content-center text-center">

    <h1>Editar venta </h1>

    <form>

         <div>
            <div style="padding-top: 7%;" class="d-inline-block ">
                <h5 style="font-weight: bold;">Datos del la venta</h5>

                <div class="form-group" id="margenForm3">
                    <div style="display: flex; justify-content: space-between; padding: 2%;padding-left: 10%">
                        <div class="col">
                            <label for="name">Id venta</label>
                            <div>
                                <input style="border-radius: 40px" value="1" id="idVenta" placeholder="1" type="text"
                                    class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <label for="name">Fecha y hora</label>
                            <div>
                                <input style="border-radius: 40px" type="text" class="form-control" value="22/08/11"
                                    id="fecha" placeholder="22/08/11" disabled>
                            </div>
                        </div>
                    </div>
                    
                    <div style="display: flex; justify-content: space-between; align-items: center">
                        
                        <div class="col">
                            <label for="name">Metodo de pago</label>
                            <div>
                                <input style="border-radius: 40px" id="pago" type="text" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="col">
                            <label for="name">Valor mano obra</label>
                            <div>
                                <input style="border-radius: 40px" type="number" id="costoManoObra" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="col">
                            <label for="name">Costo insumos</label>
                            <div>
                                <input style="border-radius: 40px" type="number" id="valorManoObra" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                    </div>

                </div>

                <h5 style="font-weight: bold; margin-top:4%; margin-bottom: 3%">Agregar productos a la venta</h5>

                <div id="margenForm2" style="margin-top: 4%;">
                    <div class="col">
                        <label for="exampleFormControlSelect1">Id cotización</label>
                        <select id="idProducto" style="border-radius: 40px" class="form-select"
                            id="exampleFormControlSelect1">
                            <option></option>
                            <option id="nn" value="fff">1</option>
                            <option id="nn">2</option>
                            <option id="nn">3</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlSelect1">Id cliente</label>
                        <select id="idProducto" style="border-radius: 40px" class="form-select"
                            id="exampleFormControlSelect1">
                            <option></option>
                            <option id="nn" value="fff">1</option>
                            <option id="nn">2</option>
                            <option id="nn">3</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>


        <div class="d-flex justify-content-center text-center">
            <button style="border-radius: 40px; margin-top:3% " type="button" class="btn btn-primary" id="botoncito"
                onclick="editar()"><i class="fa-solid fa-pen"></i>Editar</button>
            <script>
                function editar() {
                    Swal.fire({ 
                        title: 'Estas seguro?',
                        text: "Editaras la siguiente venta",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Aceptar!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            Swal.fire({
                            icon: 'success',
                        title: 'Servicio registrado con exito',
                        showConfirmButton: false,
                    })
                    setTimeout(()=>{
                        window.location.replace('/ventaServicios');
                    },2000)
        
                        }
                    })
                } 
            </script>
    </form>
</div>




</div>